table {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    width: 20%;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

th {
    background-color: rgb(168, 218, 213);
    border: 1px solid black;
    padding: 5px;
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
    unicode-bidi: isolate;
}

td {
    background-color: rgb(240, 248, 255);
    border: 1px solid black;
    padding: 5px;
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
    unicode-bidi: isolate;
}

tbody:hover{
    background-color: rgb(168, 218, 213);
}